.yy-header {
  display: flex;
  height: 60px;
  background-color: rgb(81, 90, 110);
  color: rgb(187, 187, 187);
}
.yy-logo {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.yy-logo-img {
  width: 50px;
  height: 50px;
  animation: logo 4s infinite linear;
}
@keyframes logo {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.yy-nav {
  display: flex;
  width: 50%;
  height: 100%;
}
.yy-action {
  width: 25%;
  display: flex;
}
.yy-action-item {
  width: 10%;
  font-size: 18px;
  line-height: 60px;
  cursor: pointer;
}
.yy-action-item.active {
  color: #fff;
}
.yy-action-item:hover {
  color: #fff;
}
.ant-badge {
  font-size: 18px;
}
.yy-nav-item {
  width: 12%;
  text-align: center;
  line-height: 60px;
  font-size: 16px;
  transition: all 0.3s;
  cursor: pointer;
}
.yy-nav-item.active {
  color: #fff;
  position: relative;
}
.yy-nav-item:hover {
  color: #fff;
}
.h-box {
  width: 100%;
  height: calc(100% - 60px);
}
.h-chart-box {
  width: 96%;
  margin: 0 2%;
  display: flex;
  height: calc(100% - 95px);
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.h-chart-box-item {
  width: 49.5%;
  height: 47.5%;
  background-color: #fff;
}

.my-chart {
  width: 100%;
  height: 100%;
}
.yy-set-icon {
  position: fixed;
  top: 50%;
  font-size: 25px;
  z-index: 1001;
  transition: all 0.3s;
}
