.yy-login {
    width: 100%;
    height: 100%;
    background-color: #7397dd;
}

.login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    height: 360px;
    padding: 20px 10px;
    background-color: #fff;
    border-radius: 5px;
}

.login-title {
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    font-weight: bold;
}

.login-btn {
    width: 100%;
}

.login-form-forgot {
    float: right;
}

.ant-col-rtl .login-form-forgot {
    float: left;
}